/** @type {import('next').NextConfig} */
const nextConfig = {
  experimental: {
    {{#hasAuth}}
    serverActions: true,
    {{/hasAuth}}
  },
  {{#hasUpload}}
  images: {
    domains: ['localhost'],
    {{#isSupabase}}
    remotePatterns: [
      {
        protocol: 'https',
        hostname: '*.supabase.co',
        port: '',
        pathname: '/storage/v1/object/public/**',
      },
    ],
    {{/isSupabase}}
  },
  {{/hasUpload}}
  {{#hasRealtime}}
  webpack: (config) => {
    config.externals.push({
      'utf-8-validate': 'commonjs utf-8-validate',
      'bufferutil': 'commonjs bufferutil',
    });
    return config;
  },
  {{/hasRealtime}}
};

module.exports = nextConfig;